.availability-table {

  th {
    padding: 0 5px 10px;
    border-bottom: solid 1px $purple;
    font-weight: bold;
  }

  td {
    padding: 10px 5px;
  }
  
  .alt-row {
    background-color: $light-grey;
  }
}