.feature {
  h1, h2, h3, h4, p, a {
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 300;
  }

  p {
    margin-top: 15px;
  }

  img {
    @include mediaScreen {
      width: 100% !important;
    }
  }
}
