.footer {

  .container {
    background-color: $black;
  }
  p, a {
    font-size: $p-font-size;
    color: #ffffff;
    text-align: center;
  }
  .website-link {
    font-size: 14px;
    font-weight: 600;
  }
  .menu {
    margin: 0 auto;

    table {
      @include mediaScreen {
        width: 250px !important;
      }
    }

    &-item {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }

    &-divider {
      color: #ffffff;
    }

    &-item,
    &-divider {
      padding-top: 10px;
      padding-bottom: 18px;
    }
  }

  &__info {
    p, a {
      color: #ffffff;
    }

    p {
      margin-top: 0;
    }
    
    a {
      text-decoration: underline;
    }

  }


}
