table,
td {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
}

img {
  display: block;
  border: 0;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
.availability-table th,
.availability-table td {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  text-align: left;
  @include textSizeAdjust;
}

td,
th {
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;
  @include textSizeAdjust;
}

h1,
h2,
h3,
p,
ul,
li,
td,
th {
  color: $primary-text-colour;
}

h1 {
  margin-top: 0;
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

p,
li,
td,
th
.availability-table th,
.availability-table td {
  font-size: $p-font-size;
  line-height: $p-line-height;
}

a {
  color: $primary-cta-colour;
  text-decoration: none;
}

.button {
  td {
    @include button;
  }
}

.container,
.row,
.column {
  @include mediaScreen {
    width: 100% !important;
  }
}

.bordered-spacer {
  border-top: solid 1px $black;
  border-bottom: solid 1px $black;
}

.list-item {
  strong {
    color: $purple;
  }
}

.arrow {
  display: inline;
  padding-left: 1px;
  vertical-align: middle;
}