.preheader {
  td {
    padding: 5px 0;
  }

  p {
    margin: 0;
    font-size: $preview-text-size;
    font-family: $secondary-font-family;
    line-height: $preview-line-height;
    color: $preview-text-colour;
    text-align: center;
  }

  a {
    color: $purple;
  }
}

.header {
  // border-bottom: solid 20px $light-grey;

  &__logo {
    td {
      padding: 15px 0;
    }

    .logo {
      display: inline;
      max-width: 300px;
    }
  }

  &__info {
    p {
      font-size:12px;
      line-height:16px;
      text-align: right;

      @include mediaScreen {
        margin-bottom: 10px !important;
        text-align: center !important;
        font-size: $p-font-size !important;
        line-height: $p-line-height !important;
      }
    }
    a {
      color: $purple;
    }
  }
}

.newsletter {
  .header__info a {
    color: $purple;
  }
}
