.column {
  @each $width in 50, 100 {
    &--#{$width} {
      width: 0% + $width;
    }
  }
}

.no-shadow {
  box-shadow: none !important;

  table {
    box-shadow: none !important;
  }
}

.fl--none {
  @include mediaScreen {
    float: none !important;
  }

}
.mob{
  @include mediaScreen {
    &--none {
      display: none !important;
    }
    &--padding {
      padding: 0 10px !important;
    }
    &--width {
      @each $width in 50, 75, 90, 100 {
        &-#{$width} {
          width: 0% + $width !important;
        }
      }
    }
    &--center {
        display: block !important;
        margin: 0 auto !important;
    }
  }
}

//bme = box model element
@each $bme in padding, margin {
  .#{$bme} {
    @for $i from 0 through 60 {
      &--#{$i} {
        #{$bme}: 0px + $i;
      }

      @each $dir in top, right, bottom, left {
        &-#{$dir}--#{$i} {
          #{$bme}-#{$dir}: 0px + $i;
        }
      }

    }
  }
}

@each $elem in wrapper, container, row, column {
  .#{$elem} {
    &--border {
      border: solid 1px $grey;

      @include mediaScreen {
        border: none !important;
      }
    }
  }
}

.background-colour {
  &--gold {
    background-color: $purple;
  }
  &--light-grey {
    background-color: $light-grey;
  }
  &--white {
    background-color: #ffffff;
  }
}

.center {
  h1, h2, h3, h4, p, a {
    text-align: center;
  }
}
