// newsletter

.newsletter {
  &__intro {

    .ul {
      margin: 0;
      padding-left: 0;
      list-style-type: none;
      text-align: center;
    }
    .li {
      border-bottom: solid 2px $purple;
      text-align: center;

      @include mediaScreen {
        display: block !important;
        width: 100% !important;
      }

      a {
        line-height: $h1-font-size * 1.6;
        @include newsletter-h1($h1-font-size - 4, none, $black);
      }
    }

    .column {
      background-color: #ffffff;
    }
  }
  &__title {
    span {
      display: block;
      text-align: left;
      color: $purple;
    }

    a {
      font-size: $p-font-size;
      color: #ffffff;
    }

    h1 {
      margin: 0 auto;
      display: block;
      text-align: center;
      a {
        font-size: $h1-font-size;
        font-weight: 300;
        text-decoration: underline;
        text-align: center;
      }
    }
  }

  &__one-column,
  &__two-column {
    .column {
      background-color: #ffffff;
      box-shadow: 1px 1px 5px $lighter-grey;

      @include mediaScreen {
        margin-bottom: 16px !important;
        max-width: 295px !important;
        float: none !important;
      }

      h2 {
        margin-top: 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: $purple;
      }

      .date {
        padding: 5px 0;
        font-family: $primary-font-family;
        font-size: $preview-text-size;
        line-height: $preview-line-height;
        color: $grey;
        background-color: #ffffff;
      }
    }

    &--preferences {
      .column {
        box-shadow: none;
      }
    }
  }

  &__one-column {
    .column {
      h2,
      p,
      .date {
        text-align: left;

        @include mediaScreen {
          text-align: center !important;
        }
      }

      .date {
        padding: 15px 10px 10px;
      }
    }
  }

  &__two-column {
    .column {
      h2,
      p {
        text-align: center;
      }
    }
  }
}
