// Client-specific Styles
#outlook a {
  padding:0;
}
//Force Outlook to provide a "view in browser" menu link
body{
  width:100% !important;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  margin:0;
  padding:0;
}
// Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design.
.ExternalClass {width:100%;}
// Force Hotmail to display emails at full width
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {line-height: 100%;}
// Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/
#backgroundTable {
  margin:0;
  padding:0;
  width:100% !important;
  line-height: 100% !important;
}
// End reset

// Some sensible defaults for images
img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
a img {border:none;}
.image_fix {display:block;}

// Yahoo paragraph fix
p {margin: 1em 0;}

// Outlook 07, 10 Padding issue
table td {border-collapse: collapse;}

// Remove spacing around Outlook 07, 10 tables
table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
