// Variables --------
// Global
$large-screen: 1155px;
$small-screen: 480px;

@mixin mediaScreen($width: $small-screen) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin textSizeAdjust {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@mixin button {
  background-color: $primary-cta-colour;

  & a {
    padding: 10px 30px;
    border: solid 1px $primary-cta-colour;
    display: inline-block;
    font-size: 16px;
    font-family: $primary-font-family;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    @include textSizeAdjust;
  }
}

@mixin newsletter-h1($size, $decoration: underline, $colour: #ffffff) {
  font-size: $size;
  font-weight: 300;
  text-decoration: $decoration;
  text-align: center;
  color: $colour;
}

// Colours
$gold: #9F925E;
$purple: #74628b;
$grey: #6b6b6b;
$black: #202020;
$light-grey: #f4f4f2;
$lighter-grey: #c8c2c2;

$primary-cta-colour: $purple;
$secondary-cta-colour: $purple;
$primary-text-colour: $black;
$preview-text-colour: $grey;

// Typography
$primary-font-family: 'Source Sans Pro', Arial, sans-serif;
$secondary-font-family: Helvetica, Arial, sans-serif;
$primary-font-weight: 400;
$h1-font-size: 24px;
$h1-line-height: 28px;
$h2-font-size: 22px;
$h2-line-height: 28px;
$p-font-size: 13px;
$p-line-height: 18px;
$preview-text-size: 10px;
$preview-line-height: 12px;
