<table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" amf:container="preferences"
  amf:conditional>
  <tr>
    <td align="center">
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="row newsletter__one-column newsletter__one-column--preferences">
        <tbody>
          <!-- spacer -->
          <tr>
            <td style="font-size: 20px; line-height: 100%;">&nbsp;</td>
          </tr>
          <!-- /spacer -->
          <tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0" border="0" width="615" dir="" class="column">
                <tbody>
                  <tr>
                    <td align="center" amf:htmlbox="Preferences" amf:htmltools="full">
                      <h2>How are you feeling now, [*data('firstname')|lower|ucfirst|trim|html*]?</h2>
                      <p>I hope you’ve found something here to give your day a lift. The C&e team want every newsletter we send you to give you a boost, from useful updates to bright ideas. Let’s make sure you’re getting exactly what you want.</p>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" class="padding-bottom--10">
                      <a href="[*form.link_url_ssl(111)*]" target="_blank" linklabel="Update preferences now">Update preferences now</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow.png" width="6" height="10" class="arrow">
                    </td>
                  </tr>
                  <!-- spacer -->
                  <tr>
                    <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
                  </tr>
                  <!-- /spacer -->
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
