<table cellpadding="0" cellspacing="0" border="0" width="95%" class="row newsletter__one-column" amf:repeat="section"
  amf:alternate="section" amf:option="single column" amf:conditional>
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="615" class="column">
          <tbody>
            <tr>
              <td align="center" class="date" amf:textline="single date">1st December, 2017</td>
            </tr>
            <tr amf:repeat="single options" amf:alternate="single options" amf:option="textbox" amf:conditional>
              <td align="center" class="padding--10" amf:htmlbox="single textbox" amf:htmltools="full">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur metus felis, vitae
                  consequat enim viverra quis.</h2>
                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse
                  suscipit lobortis nibh, quis feugiat nisl semper vel. Nunc consectetur efficitur leo, tincidunt
                  lacinia turpis sollicitudin in.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at gravida dui. Maecenas quis gravida
                  neque. Integer fringilla sapien in velit pellentesque gravida. Cras fringilla dolor orci, eget
                  maximus elit ultrices et. Donec ac ornare risus. Pellentesque habitant morbi tristique senectus et
                  netus et malesuada fames ac turpis egestas. Quisque ante est, semper vitae placerat id, tristique ut
                  purus. Suspendisse potenti. Nam rutrum bibendum placerat. Cras id est eget metus finibus sagittis.</p>
                <ul>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="single table" amf:conditional>
              <td align="center" class="padding--10">
                <h2 amf:textline="table intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur metus felis, vitae consequat enim viverra quis.</h2>

                <table cellpadding="0" cellspacing="0" border="0" width="100%" class="availability-table">
                  <tbody>
                    <tr>
                      <th>Venue</th>
                      <th>Availability</th>
                    </tr>
                    <tr amf:repeat="availability row" amf:class="alt-row">
                      <td amf:textline="venue">Great Hall</td>
                      <td amf:textbox="availability">16th November</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="single cta" amf:conditional>
              <td align="center" class="padding-bottom--10">
                <a href="#" target="_blank" linklabel="" amf:link="single cta">Read more</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow.png"
                  width="6" height="10" class="arrow">
              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="image 615x250" amf:conditional>
              <td align="center">
                <img src="http://placehold.it/615x250" alt="" width="615" height="250" class="mob--width-100" amf:image="single image">
              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="image 615x400" amf:conditional>
              <td align="center">
                <img src="http://placehold.it/615x400" alt="" width="615" height="400" class="mob--width-100" amf:image="single image">
              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="news item" amf:conditional>
              <td align="center">

                <table cellpadding="0" cellspacing="0" border="0" width="250" align="left" dir="" class="column no-shadow">
                  <tbody>
                    <tr>
                      <td align="center" class="padding--10">
                        <img src="http://placehold.it/250" alt="" width="250" height="250" amf:image="new item image">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!--[if mso]></td><td><![end if]-->
                <table cellpadding="0" cellspacing="0" border="0" width="345" align="right" dir="" class="column no-shadow">
                  <tbody>
                    <tr amf:repeat="news item content" amf:alternate="news item content" amf:option="news textbox" amf:conditional>
                      <td align="center" class="padding--10" amf:htmlbox="news item textbox" amf:htmltools="full">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur metus felis,
                          vitae consequat enim viverra quis.</h2>
                        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                          Suspendisse suscipit lobortis nibh, quis feugiat nisl semper vel. Nunc consectetur efficitur
                          leo, tincidunt lacinia turpis sollicitudin in.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at gravida dui. Maecenas quis
                          gravida neque. Integer fringilla sapien in velit pellentesque gravida. Cras fringilla dolor
                          orci, eget maximus elit ultrices et. Donec ac ornare risus. Pellentesque habitant morbi
                          tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ante est, semper
                          vitae placerat id, tristique ut purus. Suspendisse potenti. Nam rutrum bibendum placerat.
                          Cras id est eget metus finibus sagittis.</p>
                      </td>
                    </tr>
                    <tr amf:repeat="news item content" amf:alternate="news item content" amf:option="news cta" amf:conditional>
                      <td align="center" class="padding-bottom--10">
                        <a href="#" target="_blank" linklabel="" amf:link="news cta">Read more</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow.png"
                          width="6" height="10" class="arrow">
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <tr amf:repeat="single options" amf:alternate="single options" amf:option="realtime" amf:conditional>
              <td align="center" amf:source="source code here">
                source code here
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- spacer -->
    <tr>
      <td style="font-size: 20px; line-height: 100%;" class="mob--none">&nbsp;</td>
    </tr>
    <!-- /spacer -->
  </tbody>
</table>