<table cellpadding="0" cellspacing="0" border="0" width="95%" class="row newsletter__two-column" amf:repeat="section" amf:alternate="section" amf:option="double column" amf:conditional>
  <tbody>
    <tr>
      <td align="center">
        {{> newsletter-left-column}}
        <!--[if mso]></td><td><![end if]-->
        {{> newsletter-right-column}}
      </td>
    </tr>
    <!-- spacer -->
    <tr>
      <td style="font-size: 20px; line-height: 100%;" class="mob--none">&nbsp;</td>
    </tr>
    <!-- /spacer -->
  </tbody>
</table>
