<table cellpadding="0" cellspacing="0" border="0" width="100%" height="150" class="row newsletter__title" amf:repeat="section" amf:alternate="section" amf:option="title" amf:conditional>
  <tbody>
    <tr>
      <td align="center" width="648" class="background-image" amf:container="title-bg" amf:bgcolor="#9F925E #74628b">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Blog">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center" width="180">
                <h1><a name="blog">Blog</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#blog">Blog</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Special offers">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="special-offers">Special offers</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#special-offers">Special offers</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Resources">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="resources">Resources</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#resources">Resources</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Case Studies">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="case-studies">Case studies</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#case-studies">Case studies</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="News">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="news">News</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#news">News</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Venue in focus">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="venue">Venue in focus</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#venue">Venue in focus</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Tip of the month">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="tip">Tip of the month</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#tip">Tip of the month</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Survey">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="survey">Survey</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#survey">Survey</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Behind the scenes">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="BehindTheScenes">Behind the scenes</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#BehindTheScenes">Behind the scenes</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Meet the team">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="MeetTheTeam">Meet the team</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#MeetTheTeam">Meet the team</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Menus">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="Menus">Menus</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#Menus">Menus</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Seasonal Dining">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="SeasonalDining">Seasonal dining</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#SeasonalDining">Seasonal dining</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Destination">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="Destination">Destination</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#Destination">Destination</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Availability">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="Availability">Late availability</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#Availability">Late availability</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="FestivePrizes">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="FestivePrizes">Festive prizes</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#FestivePrizes">Festive prizes</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="95%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Easter">
          <tbody>
            <!-- spacer -->
            <tr>
              <td style="font-size: 25px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
            <tr>
              <td align="center">
                <h1><a name="Easter">Easter Eggstravaganza!</a></h1>
              </td>
            </tr>
            <tr>
              <td align="left" class="padding-bottom--10">
                <span><a href="#contents">Contents</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow-white.png" width="6" height="10" class="arrow"> <a href="#Easter">Easter Eggstravaganza!</a></span>
              </td>
            </tr>
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="column" amf:repeat="title" amf:alternate="title" amf:option="Image">
          <tbody>
            <tr amf:container="title image container">
              <td align="center">
                <img src="http://placehold.it/648x150" alt="" class="mob--width-100" amf:image="title image">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <!-- spacer -->
    <tr>
      <td style="font-size: 20px; line-height: 100%;">&nbsp;</td>
    </tr>
    <!-- /spacer -->
  </tbody>
</table>
