<!-- spacer -->
<table align="center">
    <tr>
        <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
    </tr>
</table>
<!-- /spacer -->
<!-- spacer -->
<table align="center" width="100%" class="bordered-spacer">
    <tr>
        <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
    </tr>
</table>
<!-- /spacer -->
<!-- spacer -->
<table align="center">
    <tr>
        <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
    </tr>
</table>
<!-- /spacer -->
