<!--Container: Start -->
<table cellpadding="0" cellspacing="0" border="0" width="570" class="container" amf:repeat="column options" amf:alternate="column options" amf:option="double">
  <tbody>
    <tr>
      <td align="center">
        {{> img-right}}
        {{> img-left}}
        {{> double-bordered-spacer}}
      </td>
    </tr>
  </tbody>
</table>
<!--Container: End -->
