<table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper footer">
  <tr>
    <td align="center">
      <!--Container: Start -->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="container">
        <tbody>
          <tr>
            <td align="center" class="mob--padding">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" class="row">
                <tbody>
                  <tr>
                    <td align="center">
                      <p class="margin-top--16 margin-bottom--10"><a href="http://www.birmingham.ac.uk/conferences-and-events"
                          target="_blank" class="website-link" amf:link="website link">www.birmingham.ac.uk/conferences-and-events</a></p>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table cellpadding="0" cellspacing="0" border="0" class="row menu" amf:container="footer menu">
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" border="0" class="mob--center">
                      <tr>
                        <td class="menu-item"><a href="https://conferences.bham.ac.uk/contact" target="_blank" amf:link="menu item 1">Book
                            a space</a></td>
                        <td class="menu-divider" amf:container="menu-divider-1">|</td>
                        <td class="menu-item"><a href="[*form.link_url_ssl(111)*]" target="_blank" amf:link="menu item 4">Update
                            your preferences</a></td>
                        <td class="menu-divider" amf:container="menu-divider-2">|</td>
                        <td class="menu-item"><a href="[*link.unsub_url*]" amf:link="menu item 2">Unsubscribe</a></td>
                        <td class="menu-divider" amf:container="menu-divider-3">|</td>
                        <td class="menu-item"><a href="https://conferences.bham.ac.uk/contact/" target="_blank"
                            amf:link="menu item 3">Get in touch</a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>

              <table cellpadding="0" cellspacing="0" border="0" width="100%" class="row footer__info">
                <tbody>
                  <tr>
                    <td align="center">
                      <table cellpadding="0" cellspacing="0" border="0" dir="" width="570" class="column">
                        <tbody>
                          <tr>
                            <td align="center" class="address" amf:htmlbox="address" amf:htmltools="full">
                              <p>1st Floor University Centre, University of Birmingham, Edgbaston, Birmingham, B15 2TT<br />
                                Tel: <a href="Tel:01214158400">+44 (0)121 415 8400</a> | Email: <a href="mailto:conferencesandevents@contacts.bham.ac.uk">conferencesandevents@contacts.bham.ac.uk</a></p>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" amf:htmlbox="conditions" amf:htmltools="full">
                              <p>External links are not an endorsement, and the University of Birmingham is not
                                responsible for the content of external websites.</p>
                              <p>You’re receiving this email because you signed up with us. Prefer not to receive
                                emails?<br />
                                You can <a href="[*link.unsub_url*]">unsubscribe</a> at any time.</p>
                                <p>Sent this by a friend? <a href="https://conferences.bham.ac.uk/sign-up-2/" target="_blank">Subscribe</a> to get more of the same, direct to your inbox.</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!--Container: End -->
    </td>
  </tr>
</table>
