<table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper header">
  <tr>
    <td align="center">
      <!--Container: Start -->
      <table cellpadding="0" cellspacing="0" border="0" width="100%" class="container">
        <tbody>
          <tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0" border="0" width="95%" class="row">
                <tbody>
                  <tr>
                    <td align="center">
                      <table cellpadding="0" cellspacing="0" border="0" width="280" align="left" class="column header__logo">
                        <tbody>
                          <tr>
                            <td align="center">
                              <a href="https://conferences.bham.ac.uk" target="_blank"><img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/Logo/Conference_Events_Lock_Up.png" alt="University of Birmingham | Conferences &amp; events" width="280" height="32" class="logo" amf:image="logo"/></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!--[if mso]></td><td><![end if]-->
                      <table cellpadding="0" cellspacing="0" border="0" align="right" width="280" class="column header__info">
                        <tbody>
                          <tr>
                            <td align="center" amf:htmlbox="header links" amf:htmltools="full colors(#9F925E #74628b #6b6b6b #202020)" >
                              <p><a href="Tel:01214158400">+44 (0)121 415 8400</a><br />
                                <a href="mailto:conferencesandevents@contacts.bham.ac.uk">conferencesandevents@contacts.bham.ac.uk</a><br />
                                <a href="https://www.birmingham.ac.uk/conferences-and-events">Visit website</a></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <!--Container: End -->
    </td>
  </tr>
</table>
