<!--Container: Start -->
<table cellpadding="0" cellspacing="0" border="0" width="600" class="container" amf:repeat="column options" amf:alternate="column options" amf:option="single">
  <tbody>
    <tr>
      <td align="center">
        {{> single-textbox}}

        {{> single-button}}

        {{> single-spacer}}

        {{> single-image}}

        {{> single-bordered-spacer}}

      </td>
    </tr>
  </tbody>
</table>
<!--Container: End -->
