---
layout: index-layout
subject: My email templates
---

<ul>
  <li><a href="{{root}}template.html">General</a></li>
  <li><a href="{{root}}newsletter.html">Newsletter</a></li>
  <li><a href="{{root}}offers.html">Offers</a></li>
  <li><a href="{{root}}enquiry.html">Enquiry</a></li>
</ul>
