---
description: preview text here
---
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper">
  <tr>
    <td align="center">
      {{> single-column}}

      {{> double-column}}
    </td>
  </tr>
</table>
