<table cellpadding="0" cellspacing="0" border="0" width="295" align="right" class="column">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td align="center" valign="bottom" width="295" height="115" background="http://placehold.it/295x120" class="background-image" amf:container="right-bg" amf:bgimage="http://placehold.it/295x120" amf:background>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="150">
                  <!-- spacer -->
                  <!--[if mso]>
                  <tr>
                      <td style="font-size: 83px; line-height: 100%;">&nbsp;</td>
                  </tr>
                  <![end if]-->
                  <!-- /spacer -->
                  <tr>
                    <td align="center" class="date" amf:textline="right date">1st December, 2017</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr amf:repeat="right options" amf:alternate="right options" amf:option="right textbox">
              <td align="center" class="padding--10" amf:htmlbox="right textbox" amf:htmltools="full">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur metus felis, vitae consequat enim viverra quis.</h2>
                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse suscipit lobortis nibh, quis feugiat nisl semper vel. Nunc consectetur efficitur leo, tincidunt lacinia turpis sollicitudin in. </p>
              </td>
            </tr>
            <!-- cta -->
            <tr amf:repeat="right options" amf:alternate="right options" amf:option="right cta">
              <td align="center" class="padding-left--10 padding-right--10 ">
                <a href="#" target="_blank" linklabel="" amf:link="right cta">Read more</a> <img src="http://uob.msgfocus.com/files/amf_uob/workspace_3/newsletter/images/arrow.png" width="6" height="10" class="arrow">
              </td>
            </tr>
            <!-- /cta -->
            <!-- spacer -->
            <tr>
                <td style="font-size: 16px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
