<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row" amf:repeat="column" amf:alternate="column" amf:option="bordered spacer">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center" class="mob--padding">
                {{> bordered-spacer}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
