<table cellpadding="0" cellspacing="0" border="0" width="100%" dir="rtl" class="row" amf:repeat="column" amf:alternate="column" amf:option="img right">
  <tbody>
    <tr>
      <td align="center">
        <!-- spacer -->
        <table align="center">
          <tr>
            <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
          </tr>
        </table>
        <!-- /spacer -->
        <table cellpadding="0" cellspacing="0" border="0" align="right" width="280" dir="rtl" class="column">
          <tbody>
            <tr>
              <td align="center" dir="ltr">
                <img src="http://placehold.it/280" width="280" height="280" alt="" class="column_image_small" amf:image="img right" />
              </td>
            </tr>
          </tbody>
        </table>
        <!--[if mso]></td><td><![end if]-->
        <table cellpadding="0" cellspacing="0" border="0" align="left" width="280" dir="rtl" class="column">
          <tbody>
            <tr>
              <td align="center" dir="ltr" class="mob--padding padding-right--10" amf:htmlbox="img right textbox" amf:htmltools="full colors(#9F925E #74628b #6b6b6b #202020)">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nunc, pretium ut ultrices sed, auctor scelerisque massa. Aenean imperdiet mi eget pellentesque maximus.</p>
              </td>
            </tr>
            <!-- spacer -->
            <tr>
              <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- spacer -->
            <tr>
              <td align="center">
                <!-- button -->
                <table align="center" class="button">
                  <tr>
                    <td align="center">
                      <a href="#" target="_blank" linklabel="" amf:link="img right cta">Click here</a>
                    </td>
                  </tr>
                </table>
                <!-- /button -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
