{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{root}}css/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <!--Fix to get Windows Phone 8 to render CSS3 and Media Queries-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[*info.subject_line*]</title>
    <!--[if mso]>
    <style type="text/css">
    body, table, td, h1, h2, p, .ul, .li, a {font-family: Arial, Helvetica, sans-serif !important;}
    .li a {font-size: 18px !important;}
    .newsletter__title h1 a {display: block;!important font-size: 20px !important;}
    </style>
    <![endif]-->
    <!-- <style> -->
  </head>
  <body>
    <!-- <media queries> -->
    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="preheader mob--none">
      <tr>
        <td align="center">
          <p class="center" amf:textline="preview text">{{description}}</p>
          <p class="center">Email not displaying correctly? <a href="[*link.webversion_url*]">View it in your browser</a>.</p>
        </td>
      </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="newsletter">
      <tr>
        <td align="center">
          <!--Container: Start -->
          <table cellpadding="0" cellspacing="0" border="0" width="650" class="container container--border">
            <tbody>
              <tr>
                <td align="center">
                  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
                  {{> header}}
                  {{> body}}
                  {{> newsletter-preferences-block}}
                  {{> footer}}
                </td>
              </tr>
            </tbody>
          </table>
          <!--Container: End -->
        </td>
      </tr>
    </table>
  </body>
  <!-- Start RealTime Email Embed - Patents Pending -->
  <img src="https://em.realtime.email/service/rte?kind=duration&account_id=7401&campaign_id=1553474279&dim0=$AMF_CONTACT_ID$" style="width:0px; height:0px;"/>
  <!-- End RealTime Email Embed - Patents Pending -->
</html>
