<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row" amf:alternate="single column options" amf:repeat="single column options" amf:option="button">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center">
                <!-- button -->
                <table align="center" class="button">
                    <tr>
                        <td align="center">
                            <a href="#" target="_blank" linklabel="" amf:link="single button">Click here</a>
                        </td>
                    </tr>
                </table>
                <!-- /button -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
