<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row newsletter__one-column no-shadow" amf:alternate="single column options" amf:repeat="single column options" amf:option="textbox">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center" class="mob--padding" amf:htmlbox="single textbox" amf:htmltools="full colors(#9F925E #74628b #6b6b6b #202020)">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nunc, pretium ut ultrices sed, auctor scelerisque massa. Aenean imperdiet mi eget pellentesque maximus. Duis feugiat magna sit amet augue efficitur, quis tempus nisl luctus. Cras vel feugiat augue. Praesent vulputate aliquam convallis.</p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
