<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row" amf:alternate="single column options" amf:repeat="single column options" amf:option="spacer">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center">
                <!-- spacer -->
                <table align="center">
                    <tr>
                        <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
                    </tr>
                </table>
                <!-- /spacer -->
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
