<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row" amf:alternate="single column options" amf:repeat="single column options" amf:option="image">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="600" class="column">
          <tbody>
            <tr>
              <td align="center">
                <img src="http://placehold.it/600x250" alt="" width="600" height="250" class="mob--width-100" amf:image="single image">
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
