<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row feature background-colour--gold" amf:alternate="single column options" amf:repeat="single column options" amf:option="feature">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column" amf:container="feature">
          <tbody>
            <tr>
              <td align="center" class="mob--padding" amf:htmlbox="feature textbox" amf:htmltools="full colors(#9F925E #74628b #6b6b6b #202020 #ffffff)">
                <h1>New and exclusive for our<br/>internal customers</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor nunc.<br/>Cras vel feugiat augue. Praesent vulputate aliquam convallis.</p>
              </td>
            </tr>
            <!-- spacer -->
            <tr>
                <td style="font-size: 10px; line-height: 100%;">&nbsp;</td>
            </tr>
            <!-- /spacer -->
          </tbody>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" class="column">
          <tbody>
              <tr amf:alternate="Feature image" amf:option="600 x 150">
                  <td align="center">
                    <a href="" target="_blank" linklabel="" amf:link="banner link">
                      <img src="http://placehold.it/600x150" alt="" width="600" height="150" amf:image="feature image 600x150">
                    </a>
                  </td>
                </tr>
            <tr amf:alternate="Feature image" amf:option="600 x 230">
              <td align="center">
                <img src="http://placehold.it/600x230" alt="" width="600" height="230" amf:image="feature image 600x230">
              </td>
            </tr>
            <tr amf:alternate="Feature image" amf:option="600 x 250">
              <td align="center">
                <img src="http://placehold.it/600x250" alt="" width="600" height="250" amf:image="feature image 600x250">
              </td>
            </tr>
            <tr amf:alternate="Feature image" amf:option="GIF 600 x 300">
              <td align="center" amf:source="gif">
                <table cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td align="center" style="mso-hide: all;">
                        <img src="http://placehold.it/600x300" alt="" width="600" height="300" amf:image="feature image 600x300">
                      </td>
                      <!--[if mso]>
                      <td align="center">
                        <img src="http://placehold.it/600x300" alt="" width="600" height="300" amf:image="feature image 600x300">
                      </td>
                      <![endif]-->
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
