<table cellpadding="0" cellspacing="0" border="0" width="100%" class="row" amf:alternate="single column options" amf:repeat="single column options" amf:option="list item">
  <tbody>
    <tr>
      <td align="center">
        <table cellpadding="0" cellspacing="0" border="0" width="570" class="column">
          <tbody>
            <tr>
              <td align="center" class="list-item mob--padding" amf:htmlbox="single list item" amf:htmltools="full colors(#9F925E #74628b #6b6b6b #202020)">
                <p><strong>First Name</strong><br /><em>"[* data('firstname')|lower|ucfirst|html *]"</em></p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
